@import "tailwindcss";

:root {
  --background: #d1d1d1;
  --foreground: #171717;
  --text-173: #c0c0c0;
  --custom-radial: radial-gradient(125% 100% at 0% 0%, #000 0%, rgba(0, 0, 0, 0.22449) 88.29%, rgba(0, 0, 0, 0) 100%);
}

@custom-variant dark (&:where(.dark, .dark *));


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-fraunces: var(--font-fraunces-serif);
  --color-text-173: var(--text-173);
  --mask-custom-radial: var(--custom-radial)
}

body {
  font-family: var(--font-fraunces-serif), sans-serif;
  box-sizing: border-box;
}