@import "tailwindcss";

:root {
  --background: #d1d1d1;
  --foreground: #171717;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-fraunces: var(--font-fraunces-serif);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #090909;
    --foreground: #fbfbfb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fraunces-serif), sans-serif;
  box-sizing: border-box;
}
